{% extends 'base.html' %}

{% load static %}

{% block content %}

<section id="home-page" >
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-6 text-center">
                <img src="{% static 'images/image_1742623251231.jpeg' %}" alt="Aynal Haque Milon" class="profile-image">
            </div>
            <div class="col-md-8">
                <h5>I'm Aynal Haque Milon</h5>
                <p class="lead">A passionate web developer with expertise in Django, React, and modern web technologies.</p>
                <p>I love building websites that are not only visually appealing but also highly functional and user-friendly. Whether you need a personal portfolio, an e-commerce platform, or a custom web application, I'm here to help you bring your ideas to life.</p>
               
            </div>
        </div>
    </div>
</section>

<!-- Services Section -->


<!-- Call to Action Section -->

{% endblock %}